[workspace]
resolver = "2"
members = [
  "examples",
  "foyer",
  "foyer-bench",
  "foyer-cli",
  "foyer-common",
  "foyer-memory",
  "foyer-storage",
]

[workspace.package]
version = "0.17.3"
edition = "2021"
rust-version = "1.81.0"
repository = "https://github.com/foyer-rs/foyer"
homepage = "https://foyer.rs"
keywords = ["cache", "hybrid"]
authors = ["MrCroxx <mrcroxx@outlook.com>"]
license = "Apache-2.0"
readme = "README.md"

[workspace.dependencies]
anyhow = "1"
bincode = "1"
bytes = "1"
bytesize = { package = "foyer-bytesize", version = "2" }
clap = { version = "4", features = ["derive"] }
criterion = "0.5"
equivalent = "1"
fastrace = "0.7"
foyer = { version = "0.17.3", path = "foyer" }
# foyer components
foyer-common = { version = "0.17.3", path = "foyer-common" }
foyer-memory = { version = "0.17.3", path = "foyer-memory" }
foyer-storage = { version = "0.17.3", path = "foyer-storage" }
futures-core = { version = "0.3" }
futures-util = { version = "0.3", default-features = false, features = ["std"] }
hashbrown = "0.15"
itertools = "0.14"
mixtrics = "0.1"
parking_lot = { version = "0.12" }
paste = "1"
pin-project = "1"
prometheus = "0.14"
rand = { version = "0.9" }
rand_distr = { version = "0.5" }
serde = { version = "1", features = ["derive"] }
test-log = { version = "0.2", default-features = false, features = [
  "trace",
  "color",
] }
thiserror = "2"
tracing = "0.1"

# dependencies
twox-hash = "2"

[workspace.lints.rust]
missing_docs = "warn"
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(madsim)'] }

[workspace.lints.clippy]
allow_attributes = "warn"

[profile.release]
debug = "full"
