[package]
name = "foyer-memory"
description = "memory cache for foyer - Hybrid cache for Rust"
version = { workspace = true }
edition = { workspace = true }
rust-version = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
keywords = { workspace = true }
authors = { workspace = true }
license = { workspace = true }
readme = { workspace = true }
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ahash = "0.8"
bitflags = "2"
cmsketch = "0.2.1"
equivalent = { workspace = true }
fastrace = { workspace = true }
foyer-common = { workspace = true }
foyer-intrusive = { workspace = true }
futures = "0.3"
hashbrown = { workspace = true }
itertools = { workspace = true }
parking_lot = "0.12"
pin-project = "1"
serde = { workspace = true }
tokio = { workspace = true }
tracing = "0.1"

[dev-dependencies]
# anyhow = "1"
# csv = "1.3.0"
# moka = { version = "0.12", features = ["sync"] }
rand = { version = "0.8", features = ["small_rng"] }
test-log = { workspace = true }
# zipf = "7.0.1"

[features]
deadlock = ["parking_lot/deadlock_detection"]
# FIXME: remove sanity feature
sanity = []
strict_assertions = [
    "foyer-common/strict_assertions",
    "foyer-intrusive/strict_assertions",
]
tracing = ["fastrace/enable", "foyer-common/tracing"]

[lints]
workspace = true
