[package]
name = "foyer-memory"
version = "0.1.0"
edition = "2021"
authors = ["MrCroxx <mrcroxx@outlook.com>"]
description = "memory cache for foyer - the hybrid cache for Rust"
license = "Apache-2.0"
repository = "https://github.com/mrcroxx/foyer"
homepage = "https://github.com/mrcroxx/foyer"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[package.metadata.cargo-udeps.ignore]
normal = ["foyer-workspace-hack"]

[dependencies]
ahash = "0.8"
bitflags = "2"
crossbeam = "0.8"
foyer-common = { version = "0.3", path = "../foyer-common" }
foyer-workspace-hack = { version = "0.2", path = "../foyer-workspace-hack" }
hashbrown = "0.14"
itertools = "0.12"
libc = "0.2"
parking_lot = "0.12"
tokio = { workspace = true }

[dev-dependencies]
bytesize = "1"
clap = { version = "4", features = ["derive"] }
hdrhistogram = "7"
rand = "0.8"
rand_mt = "4.2.1"
tempfile = "3"

[features]
deadlock = ["parking_lot/deadlock_detection"]
