[package]
name = "foyer-bench"
description = "bench tool for foyer - Hybrid cache for Rust"
version = { workspace = true }
edition = { workspace = true }
rust-version = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
keywords = { workspace = true }
authors = { workspace = true }
license = { workspace = true }
readme = { workspace = true }
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[package.metadata.docs.rs]
all-features = true

[dependencies]
anyhow = "1"
bytesize = { workspace = true }
clap = { workspace = true }
console-subscriber = { version = "0.4", optional = true }
fastrace = { workspace = true, optional = true }
fastrace-jaeger = { version = "0.7", optional = true }
foyer = { workspace = true, features = ["prometheus"] }
futures = "0.3"
hdrhistogram = "7"
http-body-util = "0.1"
humantime = "2"
hyper = { version = "1", default-features = false, features = [
    "server",
    "http1",
] }
hyper-util = { version = "0.1", default-features = false, features = ["tokio"] }
itertools = { workspace = true }
parking_lot = { workspace = true }
prometheus = { workspace = true }
rand = "0.8.5"
serde = { workspace = true }
serde_bytes = "0.11.15"
tokio = { workspace = true, features = ["net"] }
tracing = { workspace = true }
tracing-opentelemetry = { version = "0.27", optional = true }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
zipf = "7"

[target.'cfg(not(target_env = "msvc"))'.dependencies]
tikv-jemallocator = { version = "0.6", optional = true }

[features]
default = ["jemalloc"]
deadlock = ["parking_lot/deadlock_detection", "foyer/deadlock"]
tokio-console = ["dep:console-subscriber"]
strict_assertions = ["foyer/strict_assertions"]
sanity = ["foyer/sanity"]
jemalloc = ["dep:tikv-jemallocator"]
jeprof = ["jemalloc", "tikv-jemallocator?/profiling"]
tracing = ["foyer/tracing", "dep:fastrace-jaeger", "dep:fastrace"]

[lints]
workspace = true
