[package]
name = "foyer-common"
description = "common components for foyer - Hybrid cache for Rust"
version = { workspace = true }
edition = { workspace = true }
rust-version = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
keywords = { workspace = true }
authors = { workspace = true }
license = { workspace = true }
readme = { workspace = true }
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ahash = { workspace = true }
bytes = "1"
cfg-if = "1"
fastrace = { workspace = true }
itertools = { workspace = true }
mixtrics = { workspace = true }
parking_lot = { workspace = true }
pin-project = "1"
serde = { workspace = true }
tokio = { workspace = true }

[dev-dependencies]
futures-util = { workspace = true }
mixtrics = { workspace = true, features = ["test-utils"] }
rand = { workspace = true }

[features]
strict_assertions = []
tracing = ["fastrace/enable"]

[lints]
workspace = true
